@import '../../assets/styles/variables.scss';

.collections {
    display: flex;
    height: 100%;
    padding: $padding-container;
    padding-right: 12px;
    position: absolute;
    right: -120%;
    top: 0;
    transition: $transition;
    width: 100%;
    will-change: auto;

    &_active {
        right: 0;
        transition: $transition;
    }
}

.collections-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    // display: flex;
    // flex-wrap: wrap;
    gap: 16px;
    padding-right: 12px;
    width: 100%;
}

.collection {
    box-shadow: $box-shadow;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto;

    &__img {
        width: 148px;
        height: 120px;
        overflow: hidden;
        box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.3);
        border-radius: 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        font-size: 16px;
        text-align: center
    }
}

@media(max-width: 1580px) {
    .collections-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1400px) {
    .collections-list {
        grid-template-columns: repeat(2, 1fr);
    }
}