@import '../../assets/styles/variables.scss';

.button {
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    cursor: pointer;

    &:active {
        background-color: $color-primary-active;
    }

    &_type {
        &_prev {
            background-image: url(../../assets/images/icons/rewind-back.svg);
        }

        &_play {
            background-image: url(../../assets/images/icons/pause-stream.svg);
            background-size: 48px;
            width: 64px;
            height: 64px;
        }

        &_pause {
            background-image: url(../../assets/images/icons/pause.svg);
            width: 64px;
            height: 64px;
        }

        &_next {
            background-image: url(../../assets/images/icons/rewind-back.svg);
            transform: rotate(180deg);
        }
    }
}