@import '../../assets/styles/variables.scss';


.songs {
    padding: 24px;
    padding: 36px 24px 48px;
    overflow: hidden;
    width: 100%;
}

.songs-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}



