.root {
    background-color: #E3E3E3;
    background-image: url(../../assets/images/images/Background.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}

.main {
    max-width: 1380px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}