@import '../../assets/styles/variables.scss';

.sound {
    //    width: 100%;
    //    display: flex;
    //    justify-content: flex-end;
    //    align-self: end;
    //    visibility: hidden;
    //    opacity: 0;
    //    transition: visibility .5s linear, opacity .5s linear;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    justify-content: end;
    gap: 12px;
    width: 100%;

    &_active {
        visibility: visible;
        opacity: 1;
        transition: visibility .5s linear, opacity .5s linear;
    }

    &__icon {
        display: block;
        background-image: url(../../assets/images/icons/volume-cross.svg);
        background-repeat: no-repeat;
        background-size: 16px;
        height: 16px;
        width: 16px;
        opacity: 0.5;

        &_type {
            &_volume {
                background-image: url(../../assets/images/icons/volume-loud.svg);
            }
        }
    }
}