.tools {
    display: flex;   
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    flex-wrap: nowrap;

    &__switches{
        display: flex;   
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-wrap: nowrap;
    }
}