@import '../../assets/styles/variables.scss';

.player {
    padding: 36px 24px 48px;
    max-width: 480px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__box {
        display: grid;
        grid-template-columns: 0.7fr 0.3fr;

    }
}