$color-primary: rgba(12, 182, 115, 0.30);
$color-primary-active: rgba(12, 182, 115, 0.60);

$color-secondary: #E3E3E3;

$color-green: #05AC6A;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray:#FFFDFD;
$color-middle-gray:#C5C6C5;
$color-shadow: #1C274C;