.progress {
    width: 100%;
    height: 6px;
    display: flex;
    // padding: 0 7px;

    &__progress {
        background-color: #05AC6A;
        height: 6px;
        position: relative;
        // transition: width 1s linear;

        &_type_point {

            &::after {
                content: '';
                height: 12px;
                width: 12px;
                background-color: #05AC6A;
                ;
                position: absolute;
                right: -2px;
                top: -3px;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }

    &__container {
        background-color: #C5C6C5;
        height: 6px;
        width: 100%;
        transition: none;
    }
}