@import '../../assets/styles/variables.scss';

.progress {
    width: 100%;
     height: 30px;
    display: flex;
    align-items: center;

    &__progress {
        background-color: $color-green;
        height: 6px;
        position: relative;
        cursor: pointer;
        &_type_point {
            &::after {
                content: '';
                height: 14px;
                width: 14px;
                background-color: $color-green;                
                position: absolute;
                right: -2px;
                top: -4px;
                border-radius: 6px;
                
            }
        }
    }

    &__container {
        background-color: $color-middle-gray;
        height: 6px;
        width: 100%;
        transition: none;
    }
}